<!DOCTYPE html>
<html xmlns:th="<http://www.thymeleaf.org>">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"rel="stylesheet">-->
    <title>ToDo List</title>
</head>
<body>
	
    <h2 class="display-4 mb-4">ToDo App</h2>
    
    <button>
        <a th:unless="${todoItemForm.done}" th:href="@{/?done=true}">Done Tasks</a>
        <a th:if="${todoItemForm.done}" th:href="@{/?done=false}">Back</a>
    </button>


    <form th:unless="${todoItemForm.done}" method="post" th:action="@{/search}" th:object="${todoItemForm}">
	    <h2>Search</h2>
	    <label for="title">Title</label>
	    <input type="text" id="title" th:field="*{title}" />
	
	    <label for="category">Category</label>
	    <select id="category" th:field="*{category}" class="form-control">
	        <option value="0">-</option>
	        <option th:each="category : ${categoryMap}" th:value="${category.key}" th:text="${category.value}"></option>
	    </select>
	
	    <label for="priority">Priority</label>
	    <select id="priority" th:field="*{priority}" class="form-control">
	        <option value="0">-</option>
	        <option th:each="priority : ${priorityMap}" th:value="${priority.key}" th:text="${priority.value}"></option>
	    </select>
	
	    <input type="submit" value="Search" />
	</form>


    <form th:unless="${todoItemForm.done}" method="post" th:action="@{/new}">
        <h3>Add ToDo</h3>
        <label for="category">Category</label>
        <select id="category" name="category">
            <option th:each="category : ${categoryMap}" th:value="${category.key}" th:text="${category.value}"></option>
        </select>

        <label for="title">Title</label>
        <input type="text" id="title" name="title" />

        <label for="description">Detail</label>
        <input type="text" id="description" name="description" />

        <label for="priority">Priority</label>
        <select id="priority" name="priority" class="form-control">
            <option th:each="priority : ${priorityMap}" th:value="${priority.key}" th:text="${priority.value}"></option>
        </select>

        <label for="dueDate">Due Date</label>
        <input type="date" id="dueDate" name="dueDate" />

        <script>
            var today = new Date();
            var year = today.getFullYear();
            var month = (today.getMonth() + 1).toString().padStart(2, '0');
            var day = today.getDate().toString().padStart(2, '0');
            var formattedDate = year + '-' + month + '-' + day;
            document.getElementById('dueDate').value = formattedDate;
        </script>

        <input type="submit" value="Add Task" />
    </form>

    <div th:if="${todoItemForm.errorMessage}" th:text="${todoItemForm.errorMessage}" class="error-message"></div>


    <h3>ToDo List</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Category</th>
                <th>Title</th>
                <th>Detail</th>
                <th>Priority</th>
                <th>Create Date</th>
                <th>Due Date</th>
                <th>Done/Restore</th>
                <th th:if="${todoItemForm.done}">Delete</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="todoItem : ${todoItemForm.todoItems}">
                <td th:text="${categoryMap[todoItem.category]}" />
                <td th:text="${todoItem.title}" />
                <td th:text="${todoItem.description}" />
                <td th:text="${priorityMap[todoItem.priority]}" />
                <td th:text="${todoItem.createDate}" />
                <td th:text="${todoItem.dueDate}" />
                <td>
                    <form th:unless="${todoItemForm.done}" method="post" th:action="@{/done}" th:object="${todoItem}">
                        <input type="hidden" name="id" th:value="*{id}" />
                        <input type="submit" value="Done" />
                    </form>
                    <form th:if="${todoItemForm.done}" method="post" th:action="@{/restore}" th:object="${todoItem}">
                        <input type="hidden" name="id" th:value="*{id}" />
                        <input type="submit" value="Restore" />
                    </form>
                </td>
                <td>
                    <form th:if="${todoItemForm.done}" method="post" th:action="@{/delete}" th:object="${todoItem}">
                        <input type="hidden" name="id" th:value="*{id}" />
                        <input type="submit" value="Delete" />
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

    <form th:if="${todoItemForm.done}" method="post" th:action="@{/allDelete}">
        <input type="submit" value="All Done Delete" />
    </form>
</body>
</html>
