<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>TodoList</title>
</head>

<body>
	
	<nav>
    	<h2 class="display-4 mb-4">ToDo app</h2>
    	<button>
    		<a th:unless="${todoItemForm.done}" th:href="@{/?done=true}">DoneTask</a>
    		<a th:if="${todoItemForm.done}" th:href="@{/?done=false}">TodoTask</a>
    	</button>
    </nav>
    
    
    <h2>Search</h2>
    	<form method="post" th:action="@{/search}" th:object="${formModel}">
			<label>Title</label>
				<input type="text" name="title"><p>
	
			<label>Category</label>
				<select name="category" class="form-control">
    				<option value="0">-</option>
    				<option th:each="category:${categoryMap}" th:value="${category.key}" th:text="${category.value}"></option>
				</select><p>
					
	    	<label>Priority</label>
				<select name="priority" class="form-control">
    				<option value="0">-</option>
    				<option th:each="priority:${priorityMap}" th:value="${priority.key}" th:text="${priority.value}"></option>
				</select><p>
			
			<label>Done・ToDo</label>
				<select name="done" class="form-control">
					<option value="0">ToDo</option>
					<option value="1">Done</option>
				</select><p>
					
    		<input type="submit" value="Search"/><p>
    	</form>
    
    
    
    <h3>AddToDo</h3>
		<form method="post" th:action="@{/new}">
			
    		<label>Category</label>
				<select name="category" class="form-control">
    				<option th:each="category:${categoryMap}" th:value="${category.key}" th:text="${category.value}"></option>
				</select><p>
    		
    		<label>Title</label>
    			<input type="text" name="title" /><p>
    		
    		<label>Detail</label>
    			<input type="text" name="description" /><p>
    		
    		<label>Priority</label>
				<select name="priority" class="form-control">
    				<option th:each="priority:${priorityMap}" th:value="${priority.key}" th:text="${priority.value}"></option>
				</select><p>
    		
    		<label>DueDate</label>
				<input type="date" id="dueDate" name="dueDate" /><p>

				<script>
					//今日の日付を取得
					var today = new Date();
	
					//年、月、日を取得
					var year = today.getFullYear();
					var month = (today.getMonth() + 1).toString().padStart(2, '0'); // 月は0から始まるため+1が必要
					var day = today.getDate().toString().padStart(2, '0');
	
					//"YYYY-MM-DD" 形式の日付文字列を作成
					var formattedDate = year + '-' + month + '-' + day;
	
					//input要素にデフォルト値として設定
					document.getElementById('dueDate').value = formattedDate;
				</script>

    		<input type="submit" value="AddTask" />
		</form><p>
    	
    <div th:if="${todoItemForm.errorMessage}" th:text="${todoItemForm.errorMessage}" class="error-message"></div></p>
    
    
    
    <h3>ToDoList</h3>
    <table class="table table-hover">
        <thead>
    		<tr>
				<th>Category</th>
        		<th>Title</th>
                <th>Detail</th>
                <th>Priority</th>
                <th>CreateDate</th>
                <th>DueDate</th>
                <th>Done・Restore</th>
                <th>Delete</th>
    		</tr>
		</thead>
        
        <tbody>
            <tr th:each="todoItem : ${todoItemForm.todoItems}">
				
				<td>
					<span th:switch="${todoItem.category}">
						<span th:each="category:${categoryMap}" th:case="${category.key}" th:text="${category.value}"></span>
					</span>
				</td>
				
                <td th:text="${todoItem.title}"></td>
                
                <td th:text="${todoItem.description}"></td>
                
                <td>
					<span th:switch="${todoItem.priority}">
						<span th:each="priority:${priorityMap}" th:case="${priority.key}" th:text="${priority.value}"></span>
					</span>
				</td>
				
				<td th:text="${todoItem.createDate}"></td>
				
				<td th:text="${todoItem.dueDate}"></td>
				
                <td>
                    <form th:unless="${todoItemForm.done}" method="post" th:action="@{/done}" th:object="${todoItem}">
                        <input type="hidden" name="id" th:value="*{id}" />
                        <input type="submit" value="Done" />
                    </form>
                    <form th:if="${todoItemForm.done}" method="post" th:action="@{/restore}" th:object="${todoItem}">
                        <input type="hidden" name="id" th:value="*{id}" />
                        <input type="submit" value="Restore" />
                    </form>
                </td>
                <td>
					<form method="post" th:action="@{/delete}" th:object="${todoItem}">
        				<input type="hidden" name="id" th:value="*{id}" />
        				<input type="submit" value="Delete" />
    				</form>
				</td>
            </tr>
        </tbody>
    </table>
</body>
</html>